---
import type { Resources } from '../../../interfaces/Resources.type';


interface Props{
    resources: Resources[];
    handler: any;
}
const {resources, handler} = Astro.props as Props;
---

<div>
    <input type="search" name="search-input" id="search-input">
</div>

<script is:inline define:vars={{resources}}>

    const searchInput = document.querySelector("#search-input");
    searchInput.addEventListener("keydown", (evt) => {
        handler(evt);
    })
//     searchInput.addEventListener("keydown", (evt) => {
//         return resources.filter((resource) => {
//     resource.resources.filter(resource => resource.title.includes(evt.key));
//   })
    // })
</script>